body{
margin:0;
border:0;
font-family: sans;
color: white;
text-transform: capitalize;
background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/3xEGOGX/blue-bubbles-vortex-blue-bubbles-floating-and-rotating-and-forming-spiral-on-black-background-animated-abstract-illustration-30fps-hd1080-seamless-loop_4jptcjvg__F0002.png");
background-size:cover; 
}
